<%-include("header")-%>
<h2>This is the about page for the To Do List app</h2>

<p>With this app you will never lose track of goals for the day, week or month.
    Now stay focus and get the job done!
</p>
<%-include("footer")-%>